* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: black;
    color: white;
}

.text-yellow {
    color: #FBC02D;
}

.header-section {
    background-image: url("../images/header-bg.png");
    background-size: auto;
    padding: 40px;
}

.navbar-brand p {
    font-weight: bold;
    font-size: 14px;
}

.navbar-nav .nav-link:focus {
    background-color: #FBC02D;
    color: black !important;
    border-radius: 0.5rem;
}

.navbar-toggler {
    border: 1px solid #FBC02D;
}

.navbar-collapse {
    text-align: center;
}

.dropdown-menu {
    background-color: #FFEE58;
}

.dropdown-divider {
    border: 1px solid #FBC02D;
}

.header-info {
    margin-top: 55px;
}

.header-info p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.header-info span {
    font-size: 40px;
    font-weight: bold;
}

.header-info b {
    letter-spacing: 7px;
    font-size: 20px;
}

.header-info img {
    position: relative;
    width: 55%;
    top: 120px;
}

.about-and-booking {
    background-color: #FFC61A;
    padding: 100px 20px 30px;
}

.about-and-booking .container {
    margin-top: 20px;
}

.about-and-booking h1, h4 {
    font-weight: bold;
}

.about-and-booking p {
    margin: 25px 0;
}

.about-and-booking button {
    background-color: black;
}

.about-and-booking .card {
    border: none
}

.about-and-booking .card-title {
    background-color: black !important;
}

.about-and-booking .form-control{
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.about-and-booking  input::placeholder {
    font-weight: bold;
    color: black;
}

.tariffs {
    padding: 50px 10px 100px;
}

.tariffs h3 {
    font-weight: bold;
}

.tariffs .row {
    margin-top: 150px;
}

.tariffs .card img {
    position: absolute;
    top: -100px;
}

.tariffs .card .card-body h3 {
    margin-top: 80px;
}

.tariffs .card .card-body b {
    font-size: 40px;
}

.tariffs .card .card-body button {
    background-color: #FBC02D;
    color: black;
    font-weight: bold;
}

.tariffs .row .col-md-4:nth-child(2) .card {
    background-color: #FBC02D;
}

.tariffs .row .col-md-4:nth-child(2) b {
    color: black;
}

.tariffs .row .col-md-4:nth-child(2) .card .card-body button {
    background-color: black;
    color: white;
}

.tariffs .row .col-md-4:nth-child(2) .card-body + div {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    width: 30px;
    height: 30px;
    color: #FBC02D;
}

.tariffs .row .col-md-4:nth-child(2) .card-body + div i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.choose {
    background-image: url("../images/choose-bg.png");
}

.choose .row {
    margin: 100px 0px 20px;
}

.choose .row:nth-last-of-type(1) {
    margin: 0px 0px 20px;
}

.choose .icon-area {
    background-color: #FFC61A;
    color: black;
    border-radius: 50%;
    padding: 20px;
    width: 70px;
    height: 70px;
}

.choose .icon-area img {
    width: 30px;
    height: 30px;
}

.choose .choose-info {
    padding-left: 20px;
}

.choose .choose-info h5 {
    font-weight: bold;
}

.choose .choose-info p {
    font-size: 20px;
}

.choose button {
    background-color: #FFC61A;
    color: black;
    margin-top: 30px;
    font-weight: bold;
}

.download {
    margin: 50px 20px 0;
}

.download h3 {
    font-weight: bolder;
    margin: 0;
}

.download .container {
    margin-top: 75px;
    text-align: left;
}

.download .container h4 {
    margin: 20px 0;
}

.download .container p {
    margin: 20px 0;
    line-height: 1.5;
}

.download .container button {
    background-color: black;
    padding: 10px 20px;
    margin-right: 20px;
    color: white;
}

.download .container .image {
    width: 100%;
}

.testimonials {
    background-image: url("../images/testimonials-bg.png");
    padding: 100px 0 15px;
}

.testimonials .container {
    margin-top: 100px;
}

.testimonials .container .testimonial {
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

.testimonials .container .testimonial .testimonial-info p {
    font-weight: bolder;
}

.testimonials .container .testimonial .testimonial-info p:first-child {
    font-size: 20px;
}

.call {
    background-color: #FFC61A;
    padding: 30px 0;
}

.call * {
    font-weight: bolder;
    margin: 10px 0;
}

footer {
    background-color: black;
    padding: 30px 10px;
}

footer .row {
    margin-top: 10px;
}

footer .row .col-md-4 {
    padding: 30px;
}

footer h5 {
    font-weight: bolder;
}

footer hr {
    border: 4px solid #FFC61A;
    margin-top: 20px;
}

footer .social-media-icons {
    margin-top: 20px;
}

footer .social-media-icons i {
    color: #FFC61A;
    margin-right: 10px;
}

footer .users div {
    margin: 10px 0;
}

footer .users span {
    color: #FFC61A;
}

footer .contacts div {
    margin-top: 10px;
    display: flex;
}

footer .contacts span {
    margin-left: 20px;
    font-size: 12px;
}

footer .contacts i {
    width: 10px;
    height: 10px;
}

@media(max-width: 1024px) {
    .tariffs .card img {
        top: -80px;
    }
}

@media(max-width: 800px) {
    .tariffs .row {
        margin-top: 100px;
    }

    .tariffs .card img {
        top: -70px;
    }

    .tariffs .card .card-body h3 {
        margin-top: 50px;
    }

    .tariffs .card img {
        top: -45px;
    }

    .download .container button {
        width: 100%;
        margin: 10px 0;
    }

    .testimonials .container {
        margin-top: 50px;
    }
}

@media(max-width: 767px) {
    .dropdown-menu {
        text-align: center;
    }

    .header-info img {
        top: 100px;
        width: 85%;
    }

    .about-and-booking .card {
        margin-top: 20px;
    }

    .tariffs {
        padding-bottom: 50px;
    }

    .tariffs .row {
        margin-top: 150px;
    }

    .tariffs .row .col-md-4:first-child .card{
        margin-top: 0;
    }

    .tariffs .card {
        margin-top: 150px;
    }

    .tariffs .card .card-body h3 {
        margin-top: 150px;
    }

    .download .container {
        margin-top: 50px;
    }

    .download .container .image {
        margin-top: 20px;
    }

    .download .container .row .col-md-5:nth-child(2) {
        display: none;
    }
}

@media(max-width: 640px) {
    .tariffs .card img {
        top: -120px;
    }

    .testimonials .container .testimonial {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
}

@media(max-width: 500px) {
    .header-info {
        margin-top: 30px;
    }

    .header-info p {
        font-size: 28px;
    }

    .header-info span {
        font-size: 32px;
    }

    .header-info b {
        letter-spacing: 5px;
        font-size: 12px;
    }

    .header-info img {
        top: 75px;
        width: 100%;
    }

    .about-and-booking {
        padding: 50px 10px 30px;
    }

    .tariffs .card .card-body h3 {
        margin-top: 100px;
    }

    .choose .row {
        margin: 80px 0px 20px;
    }

    .download {
        margin: 20px 10px;
    }

    .download .container {
        margin-top: 15px;
    }

    .download .container button {
        padding: 10px;
    }

    .download .container .row .col-md-5 {
        margin-top: 20px;
    }    
}

@media(max-width: 414px) {
    .tariffs .card img {
        top: -100px;
    }
}

@media(max-width: 384px) {
    .tariffs .card img {
        top: -75px;
    }
}

@media(max-width: 375px) {
    .tariffs .card .card-body h3 {
        margin-top: 80px;
    }
}

@media(max-width: 280px) {
    .header-section {
        padding: 10px;
    }

    .header-info b {
        letter-spacing: 3px;
        font-size: 10px;
    }

    .header-info img {
        top: 50px;
    }  

    .tariffs .card {
        margin-top: 70px;
    }
    
    .tariffs .card img {
        top: -50px;
    }

    .tariffs .card .card-body h3 {
        margin-top: 50px;
        font-size: 25px;
    }

    .tariffs .card .card-body b {
        font-size: 30px;
    }

    .choose .choose-info h5 {
        font-size: 18px;
    }

    .choose .choose-info p {
        font-size: 15px;
    }

    .testimonials h1 {
        font-size: 30px;
    }
}